<video *ngIf="videoSource && videoType === 'top'"
       class="video-player min-w-full min-h-full absolute object-cover"
       id="videoPlayer"
       autoplay=""
       loop=""
      muted=""
       playsinline=""
       data-wf-ignore="true"
       data-object-fit="cover">
  <source
    [src]="videoSource"
    data-wf-ignore="true">
<!--  <source-->
<!--    src="https://assets-global.website-files.com/63a5141427f9360ebfaf9e6e/65c591c59dba3c9577cdec09_64264a8a9df8da0121b4ddbb_Untitled (5)-transcode.webm"-->
<!--    data-wf-ignore="true">-->
</video>
<video *ngIf="videoSource && videoType === 'dialog'"
       class="video-player min-w-full min-h-full absolute object-cover rounded" id="dialog-vid-wrapper"
       autoplay=""
       loop=""
       muted=""
       playsinline=""
       data-wf-ignore="true"
       data-object-fit="cover">
  <source
    [src]="videoSource"
    data-wf-ignore="true">
</video>
