<section id="video-dock-wrapper" *ngIf="!hideVideoDockWrapper"
         class="relative h-[calc(100vh-150px)] flex flex-col items-center justify-center text-center text-white py-0 px-3">
  <div class="video-docker absolute top-0 left-0 w-full h-full max-h-full overflow-hidden">
    <!-- Placeholder for video display -->
    <app-video-display *ngIf="videoSource" [videoSource]="videoSource" [videoType]="videoTypeTop"></app-video-display>
  </div>
  <div class="video-content space-y-2">

    <div class="container mx-auto px-6 flex relative py-16 text-left">
      <div class="sm:w-2/3 lg:w-2/5 flex flex-col relative z-20">
        <h1 class=" uppercase text-2xl sm:text-4xl font-black flex flex-col leading-none text-white ">Take
          ChatGPT. </h1>
        <h1 class="uppercase text-2xl sm:text-4xl font-black flex flex-col leading-none text-white ">Make it human.</h1>
        <p class="text-sm sm:text-base text-white">
          Powered by generative AI, digital humans represent your brand online, communicating with customers in real
          time to give them confidence in their purchases.
        </p>
        <div class="flex mt-8">
          <button *ngIf="!showAssistantDiv"
                  class="uppercase py-2 px-4 rounded-lg bg-pink-500 border-2 border-transparent text-white text-md mr-4 hover:bg-pink-400"
                  (click)="openAssistant()">
            Chat with Sophie
          </button>
          <button *ngIf="showAssistantDiv"
                  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                  (click)="closeAssistant()">
            Stop Chat
          </button>
        </div>

        <div  id="slide-wrapper" class="slide-up-container max-h-0 transition-all duration-300 ease-in-out"
              [ngClass]="{'hidden': !showAssistantDiv, 'mt-5': showAssistantDiv}">
          <!-- Placeholder for subtitles -->
          <app-subtitle *ngIf="subtitlesText" [subtitlesText]="subtitlesText" [questionText]="questionText"></app-subtitle>

          <div class="assistant-input-wrapper mt-4">
            <div class="flex rounded-lg shadow-sm gap-2">
              <!--              <button type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">-->
              <!--                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">-->
              <!--                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z" />-->
              <!--                </svg>-->
              <!--                <span class="sr-only">MIC On</span>-->
              <!--              </button>-->
              <button type="button"
                      class="w-[2.875rem] h-[2.875rem] flex-shrink-0 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full  border border-transparent bg-gray-500  text-white disabled:opacity-50 disabled:pointer-events-none ">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                  <path fill="currentColor"
                        d="M19 11c0 1.19-.34 2.3-.9 3.28l-1.23-1.23c.27-.62.43-1.31.43-2.05zm-4 .16L9 5.18V5a3 3 0 0 1 3-3a3 3 0 0 1 3 3v6zM4.27 3L21 19.73L19.73 21l-4.19-4.19c-.77.46-1.63.77-2.54.91V21h-2v-3.28c-3.28-.49-6-3.31-6-6.72h1.7c0 3 2.54 5.1 5.3 5.1c.81 0 1.6-.19 2.31-.52l-1.66-1.66L12 14a3 3 0 0 1-3-3v-.72L3 4.27z"/>
                </svg>
              </button>
              <input [(ngModel)]="inputText" (keydown.enter)="sendText()"   placeholder="Type here..." type="text" id="ai-text" name="main_input_txt"
                     class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-m-lg text-sm focus:z-10  disabled:opacity-50 disabled:pointer-events-none  bg-white text-black rounded-3xl ">
            </div>
          </div>

        </div>

      </div>

    </div>


  </div>
</section>

<div  class="video-dialog" *ngIf="isVisible">
  <app-video-display *ngIf="videoSource" [videoSource]="videoSource" [videoType]="videoTypeDialog"></app-video-display>
  <div class="assistant-input-wrapper"  [ngClass]="{'hidden': !showAssistantDiv, 'mt-5': showAssistantDiv}">
    <div class="flex rounded-lg shadow-sm gap-2">
      <button type="button"
              class="w-[2.875rem] h-[2.875rem] flex-shrink-0 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full  border border-transparent bg-gray-500  text-white disabled:opacity-50 disabled:pointer-events-none ">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M19 11c0 1.19-.34 2.3-.9 3.28l-1.23-1.23c.27-.62.43-1.31.43-2.05zm-4 .16L9 5.18V5a3 3 0 0 1 3-3a3 3 0 0 1 3 3v6zM4.27 3L21 19.73L19.73 21l-4.19-4.19c-.77.46-1.63.77-2.54.91V21h-2v-3.28c-3.28-.49-6-3.31-6-6.72h1.7c0 3 2.54 5.1 5.3 5.1c.81 0 1.6-.19 2.31-.52l-1.66-1.66L12 14a3 3 0 0 1-3-3v-.72L3 4.27z"/>
        </svg>
      </button>
      <input [(ngModel)]="inputText" (keydown.enter)="sendText()" placeholder="Type here..." type="text"  name="short_input_txt"
             class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-m-lg text-sm focus:z-10  disabled:opacity-50 disabled:pointer-events-none  bg-white rounded-3xl ">
    </div>
  </div>
</div>
